/*
 Theme Name:   Kogle Øl
 Theme URI:    http://bystroem.dk
 Description:  Kogle Øl Child Theme
 Author:       Martin & Jeppe
 Author URI:   http://bystroem.dk
 Template:     craft-beer
 Version:      1.0.0
 Tags:         one-column, right-sidebar, custom-menu, featured-images, sticky-post, theme-options, threaded-comments, translation-ready
 Text Domain:  craft-beer-child
*/


/* Theme customization starts here
-------------------------------------------------------------- */
